<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright © Dr. Hila Amit - 2019</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item">
                            <a href="skype:hili.amit?chat" target="_blank">
                                <i class="fab fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Website by <a href="https://www.jonathanbareket.com"> jonathanbareket.com</a>
                      </span>
                </div>

            </div>
        </div>
    </footer>