<section class="bg-light pb-3" id="press">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase mb-5">Press</h2>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-lg-10 col-sm-10 text-left ">
                {% for item in press.items %}
                    <blockquote>
                        <p>
                            <q>
                                {% if item.isHebrew %}

                                    <bdo dir="rtl">
                                        {{item.quote}}
                                    </bdo>
                                {% else %}
                                    {{item.quote}}
                                {% endif %}
                            </q>
                        </p>
                        <footer>
                            {% if item.link %}
                                <a href="{{item.link}}" target="_blank">
                                    {{item.bottomText}}
                                </a>
                            {% else %}
                                {{item.bottomText}}
                            {% endif %}
                        </footer>

                    </blockquote>

                {% endfor %}
                <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase mb-5">Interviews</h3>
            </div>
            <div class="row text-center">
                <div class="col-lg-10 col-sm-10 text-left">
                {% for interview in press.interviews %}
                    <h3 class="section-subheading text-muted">
                        {% if interview.link %}
                    <a href="http://stream.aljazeera.com/story/201406170004-0023844" target="_blank" rel="noopener noreferrer">
                    <b>{{interview.topText}}</b>
                    </a>
                        {% else %}
                        <b>{{interview.topText}}</b>
                        {% endif %}
                        <br>
                        {% if interview.bottomText %}
                        {{interview.bottomText}}
                        {% endif %}
                        {% if interview.audio %}
                        <audio controls="">
                                <source src="{{interview.audio}}" type="audio/mpeg">
                                Your browser does not support the audio tag.
                            </audio>
                        {% endif %}
                    </h3>
                {% endfor %}
                </div>

      
            </div>
                
            </div>
        </div>
    </div>

</section>