<section id="hebrew">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Hebrew Teaching</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="images/hebrewschool.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-left">

                </div>
                <div class="col-sm-8 text-center">
                    <h5 class="section-subheading">
                    {{ teaching.mainText | safe }}
                    
                    </h5>
                </div>
                <div class="col-sm-12 text-center mb-4">
                {{ teaching.secondaryText | safe }}

                </div>
                <div class="row justify-content-center w-100">
                    <div class="col-sm-3">
                        <img src="images/hebrewforall-de.png" alt="hebrew book german" class="w-100">

                    </div>
                    <div class="col-sm-3">
                        <img src="images/hebrewforall-he.png" alt="hebrew book hebrew" class="w-100">

                    </div>
                </div>
            </div>
        </div>
    </section>